

//background
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

$color-background: linear-gradient(to bottom, $soft-violet, $soft-blue);

// primary text

$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

// Neutral text

$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

// Dividers color
$light-grayish-blue: hsl(240, 5%, 91%);

// card background
$card-color: hsl(0, 0%, 100%);