
// Primary

$very-dark-magenta: hsl(300, 43%, 22%);
$soft-ink: hsl(333, 80%, 67%);

//  Neutral

$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);